/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	font-size: 15px;
}

body {
	font-size: 1rem;
}

html,
body {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e2e4e8;
	font-family: mr-eaves-modern, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-style: normal;
}
blockquote {
	font-family: mr-eaves-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-style: normal;
}
header {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	text-align: center;
	z-index: 999;
	color: #fff;
	padding-top: 10vh;
	font-size: 1.1em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
header .logo {
	display: inline-block;
	margin: 0 auto 0.5em;
	text-align: center;
	width: 1.5rem;
}
.logo svg {
	width: 100%;
	display: block;
	overflow: visible;
}
.logo path {
	fill: #fff;
}
header h1 {
	font-weight: 300;
	font-size: 4em;
	margin: 0 auto;
	line-height: 1;
}
blockquote,
header h2 {
	font-family: mr-eaves-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.6em;
	margin: 0 auto;
}
h3 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 0.9em;
	font-weight: 400;
	margin: 1em auto 2em;
}
.text-block > p {
	font-size: 1.1em;
	line-height: 1.4;
	text-align: left;
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
}
blockquote {
	font-weight: 100;
	font-size: 1.4em;
	line-height: 1.6;
	margin: 0 auto;
	width: 100%;
	max-width: 27em;
}
blockquote p {
	text-align: center;
}
pre {
	position: relative;
	width: 100%;
	display: block;
	margin: 0.8rem auto 2.5rem;
	/* padding: 1.5rem 2rem; */
	line-height: 1.8;
	max-width: 50rem;
	overflow-x: scroll;
	font-size: 0.55rem;
	/* background: rgba(0, 0, 0, 0.05); */
	background: rgba(255, 255, 255, 0.35);
}
code {
	/* padding: 0.2em 0.4em; */
	padding: 0.2em 0;
	font-size: 1em;
	/* font-size: 0.8em; */
}
p code {
	font-size: 0.75em;
	background: rgba(255, 255, 255, 0.493);
	padding: 0.2em 0.4em;
	margin: 0 0.1em;
}
pre,
code {
	text-align: left;
	text-indent: 0;
	white-space: normal;
}
/* br + code {
	margin-left: -0.4em;
} */
pre code,
pre code.hljs.hljs {
	font-size: 1em;
	white-space: pre;
	tab-size: 2.5em;
	background-color: transparent;
	width: auto;
	min-width: 100%;
	min-width: min-content;
	display: block;
	padding: 1.35rem 3rem 0.9rem 1.5rem;
}
pre code::before {
	content: "LANG";
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	font-family: mr-eaves-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 8px;
	font-style: normal;
	padding: 0.3rem 0.45rem 0.3rem;
	line-height: 1;
	background: rgba(0, 0, 0, 1);
	color: #fff;
}
pre code.language-html::before,
.hljs.xml::before,
.language-xml::before,
.language-html::before {
	content: "HTML";
}
pre code.language-javascript::before,
.hljs.javascript::before,
.language-js::before {
	content: "SCRIPT";
}
pre code.language-css::before,
.hljs.css::before,
.language-css::before {
	content: "CSS";
}
